# Cloudflare Turnstile Site Key (Получить бесплатно в дашборде Cloudflare -> Turnstile)
# Если переменная не указана, используется тестовый ключ (Always Passes с плашкой тестирования)
NEXT_PUBLIC_TURNSTILE_SITE_KEY=0x4AAAAAAAx...
# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key

# Stripe Configuration
STRIPE_SECRET_KEY=sk_test_your_key
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your_key
NEXT_PUBLIC_BASE_URL=http://localhost:3000
