# OpenRouter API Key
OPENROUTER_API_KEY=your_openrouter_api_key_here
MODEL=deepseek/deepseek-chat

# Токен безопасности веб-шлюза OpenClaw Gateway
OPENCLAW_GATEWAY_TOKEN=your_secure_gateway_token_here


# Telegram Bot Token от @BotFather для OpenClaw
TELEGRAM_BOT_TOKEN=your_openclaw_telegram_bot_token_here
TELEGRAM_ALLOWED_USERS=743866013

# Внутренние адреса микросервисов
ACCOUNTANT_API_URL=http://accruals-accountant:3005
BACKEND_API_URL=http://backend:3000
